name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write # Required for npm trusted publishing

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm install

      - name: Changesets Release
        uses: changesets/action@v1
        with:
          publish: npm publish --provenance --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
